.lab-launch-button {
  background-color: #9a27b6;
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 32px;
}

.lab-launch-button:hover {
  background-color: #000000;
}

.lab-launch-button i {
  margin-left: 6px;
}

.lab-page-button {
  width: 200px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 20px 10px 20px !important;
  background-color: #0073aa;
  color: #fff !important;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lab-page-button:hover {
  background-color: #000000;
}

.lab-check-button {
  display: none;
  width: 90%;
  padding: 10px 20px 10px 20px;
  background-color: rgba(213, 213, 213, 0.8);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(106, 106, 106);
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lab-check-button:hover {
  background-color: rgba(29, 208, 22, 0.8);
}

.lab-check-button i {
  margin-left: 6px;
}

.success {
  color: #138d0f;
}

.error {
  color: #d12626;
}

.lab-back-button {
  display: inline-flex;
  align-items: center;
  background-color: #0073aa;
  color: #fff !important;
  padding: 6px 16px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-bottom: 32px;
  margin-top: 32px;
}

.lab-back-button i {
  margin-right: 8px;
  font-size: 16px;
}

.lab-back-button:hover {
  background-color: #000000;
}

.lab-description {
  border: none !important;
  border-radius: 5px;
  width: 90vw !important;
  background: rgba(240, 240, 240, 0.8);
  padding: 5px;
}

.lab-header {
  font-weight: 600;
  font-size: 24px;
}

.lab-name {
  font-style: italic;
}

.table-lab-header {
  width: 450px;
  border: none !important;
  width: fit-content;
}

.table-admin-labs {
  width: 100% !important;
  border: none !important;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.table-admin-labs tbody tr th {
  border-radius: 5px;
}
.table-admin-labs tbody tr td {
  border-radius: 5px;
}

.table-admin-labs tbody tr:nth-of-type(even) {
  background-color: #dfdfdf;
}

.table-admin-labs tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.table-admin-labs tbody tr:hover {
  background-color: #4b4bff !important;
  color: #ffffff;
}

.table-lab-login {
  width: 85vw !important;
  border: none !important;
  text-align: center !important;
  background-color: #c8c8c8;
  border-radius: 5px;
  color: rgb(60, 60, 60) !important;
  margin-bottom: 10px;
  margin-top: 10px;
}

.table-lab-result {
  width: 85vw !important;
  border: none !important;
  text-align: center !important;
  padding-top: 16px;
}

.table-lab-header > td {
  text-align: left;
}

.lab-pagination-controls {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 16px;
  text-align: center !important;
}
.lab-pagination-controls button {
  padding: 4px 12px;
}

.lab-admin-button {
  width: 100px !important;
  border: none !important;
  border-radius: 20px !important;
  background-color: #69cfff !important;
  color: #000000 !important;
  padding: 5px 10px 5px 10px !important;
  transition: background-color 0.3s ease;
  text-align: center !important;
  cursor: pointer;
}

.lab-admin-button:hover {
  background-color: #000000;
}
